@mixin vertical-middle {
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  >* {
    vertical-align: middle;
  }
}

@mixin shadow {
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
}